body{
  background: #f6f6f6;
}

.calculator{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator > div{
  position: relative;
}

input[type=number]{
  max-width: 10rem;
  font-size: 2rem;
  padding: .5rem;
  background: transparent;
  border-radius: 0.3rem;
  border: 1px solid gray;
  color:rgb(83, 83, 83);
  text-align: center;
}

.operator{
  font-size: 1.5rem;
  margin: 0 1rem;
}



input[type=submit]{
  padding: 1rem;
  font-size: 1rem;
  margin-left:2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  color: white;
  font-weight: bold;
  transition: background .2s;
  background: #5e44f6;
}

input[type=submit]:hover,
input[type=submit]:focus{
  background: #2c10c9;
}


.result{
  font-size: 3rem;
  font-weight: bold;
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10rem;
  color : #f53277;
  
}

.calculator label{
  position: absolute;
  left: 21px;
  top: -6px;
  padding: 0 0.5rem;
  background: #f6f6f6
}

@media screen and (max-width:600px) {
  .calculator{
    flex-direction:column;
  }
  input[type=submit]{
    width: 100%;
    margin: 30px 0 0 0;
  }
  .operator{

    margin: 1rem 0;
  }
  
}