.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  flex-direction: column;
  padding: 0.2rem;
  gap:0.5rem
}

textarea{
  resize:none;
}


button{
  flex:1;
  border: none;
  border-radius: 0.2rem;
  width: 100%;
  background:dodgerblue;
  color:white;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}