
*{
  margin: 0;
  padding: 0;
}


h1{
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%,-50%); */
  translate:-50% -50%;
  background-color: orange;
}



.first{
  
}

.second{
  
}

ul{
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem
}

.userCard {
  border: 1px solid black;
  padding: 1rem;

  .contents > li{
    background-color: rgba(186, 186, 186, 0.22);
  }
  
  & img{
    width:100px;
    height: 100px;
    background-color: gray;
  }

  .strong{
    font-weight: bold;
    color: black;
  }
  
}




span{
  display: inline-block;
}














