


.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  gap:1rem;


  div{
    transition: all 0.5s;
    position: relative;
    top:0;
    left:0;
  }
}