


/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}




.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container{
  text-align: center;
  min-width: 360px;

  h1{
    font-size: 3rem;
    margin-top: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;

    img{
      width: 40px;
      
    }
  }
}

.todo{
  display:flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  border-radius: 10px;
  gap:1rem;
  /* min-width: 320px; */
  overflow: hidden;
}


.add-item{
  width: 50px;
  height: 50px;
  background:white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.2,-0.73, 0.65, 1.47);

  &:hover{
    transform:scale(1.3);
  }
}





















